body{
    font-family: 'Poppins', sans-serif;
}
.org-flexible{
    display: flex;
    padding-top: 150px; 
}
.profile-img{
    width: 80%;
    padding-left: 10%;
}
.border-part{
    border-left: 5px solid;
    border-color: darkblue;
    border-image-slice: 1;
    padding-left: 10px;
    font-size: 30px;

}
.intro-part{
    padding-left: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightpink, lightcoral);
    padding: 10px 35px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 3;
}
.first-color{
    color: rgb(29, 136, 136);
}
.travel-place{
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}
.place-img{
    width: 90px;
}
.first-places{
    width: 300px;
    padding: 20px;
    margin: 20px;
    margin-left: 120px;
    background-color: rgb(240, 240, 183);
    border-radius: 20px;
}
.second-places{
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 200, 209);
    border-radius: 20px;
}
.third-places{
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 187, 160);
    border-radius: 20px;
}