body{
    font-family: 'Poppins', sans-serif;
}
.org-flexible{
    display: flex;
    padding-top: 150px; 
}
.org-flexible img{
    width: 80%;
    padding-left: 10%;
}
.border-part{
    border-left: 5px solid;
    border-color: darkblue;
    border-image-slice: 1;
    padding-left: 10px;
    font-size: 30px;

}
.intro-part{
    padding-left: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightpink, lightcoral);
    padding: 10px 35px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 3;
}
.first-color{
    color: rgb(29, 136, 136);
}
